// Are they used anywere at all???
$red: #cd4444;
$light-grey: #aeaeae;
$pink: #ff8ea2;
$dark-asphalt: #42494f;
$dark-asphalt-wet: #5c656d;
$almost-black: #23292d;
// $blue-asphalt: #2e3744;


// Color coded rows
$code-red: #db4545;
$code-red-hover: #fce8e2;
$code-yellow: #edde3f;
$code-yellow-hover: #faf6db;
$code-green: #39aa56;
$code-green-hover: #deecdc;
$code-grey: #666666;
$code-grey-hover: #f1f1f1;

$color-coded-row-border-size: 3px;
$project-color-coded-row-border-size: 5px;
$task-color-coded-row-border-size: 3px;


// Typography
$main-text-color: #5d5d5d;
$secondary-text-color: #8a8a8a;
