.datepicker-container {
	position: relative;
	
	
	.rdrCalendarWrapper {
		position: absolute;
		z-index: 3;
		right: 0;
		top: 1.5em;
		// border: 1px solid $light-grey;
		border-radius: 5px;
		// overflow: hidden;
		-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.15);
		box-shadow: 0 0 20px 0 rgba(0,0,0,.15);
	}
	.rdrMonthAndYearWrapper {
		position: relative;
		&:after {
			bottom: 100%;
			right: 1em;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(136, 183, 213, 0);
			border-bottom-color: #fff;
			border-width: 13px;
			margin-left: -13px;
		}
	}
}