.task-row {
    padding: 5px 7px 5px $task-color-coded-row-border-size + 2px;
    margin-bottom: .4em;
    font-size: 1.1em;
    cursor: pointer;
    &:before {
        width: $task-color-coded-row-border-size;
    }

    span.task-title, span.task-key, input {
        font-size: 1em;
    }

    // &.code-red {
    //     .task-status {
    //         color: $code-red;
    //     }
    //     &:hover {
    //         .task-status {
    //             color: #42494f;
    //         }
    //     }
    // }
    // &.code-yellow {
    //     .task-status{
    //         color: $code-yellow;
    //     }
    //     &:hover {
    //         .task-status {
    //             color: #42494f;
    //         }
    //     }
    // }
    // &.code-green {
    //     .task-status {
    //         color: $code-green;
    //     }
    //     &:hover {
    //         .task-status {
    //             color: #42494f;
    //         }
    //     }
    // }
    // &.code-grey {
    //     .task-status {
    //         color: $code-grey;
    //     }
    //     &:hover {
    //         .task-status {
    //             color: #42494f;
    //         }
    //     }
    // }

    .task-status {
        font-size: 1.3em;
        color: #757575; // TBM

    }
    span.icon-hash {
        color: $light-grey;
        margin: 0 .13em 0 .3em;
        &:before {
            margin: 0;
        }
    }
    h4.project-name {
        font-weight: 600;
    }
    p {
        margin-bottom: .4em;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    .vertical-divider {
        display: block;
        height: 1.3em;
        width: 1px;
        background: $light-grey;
        margin: 0 .7em;
    }
    span.task-due {
        margin: 0 .5em;
    }
    .task-assignee-avatar {
        img {
            border-radius: 999px;
            width: 20px;
            height: 20px;
            // height: auto;
            margin-right: .2em;
        }

    }
    &.new-task-input {
        &:hover {
            background: #fff;
        }
        input[type="text"] {
            // border: 1px solid orange;
            font-size: 1em;
            width: 100%;
        }
    }
}



