@font-face {
  font-family: 'lixpi-icons';
  src: url('/fonts/lixpi-icons.eot?59537220');
  src: url('/fonts/lixpi-icons.eot?59537220#iefix') format('embedded-opentype'),
       url('/fonts/lixpi-icons.woff2?59537220') format('woff2'),
       url('/fonts/lixpi-icons.woff?59537220') format('woff'),
       url('/fonts/lixpi-icons.ttf?59537220') format('truetype'),
       url('/fonts/lixpi-icons.svg?59537220#lixpi-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'lixpi-icons';
    src: url('/fonts/lixpi-icons.svg?75276810#lixpi-icons') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "lixpi-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-user:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-ok-circle:before { content: '\e802'; } /* '' */
.icon-attention:before { content: '\e803'; } /* '' */
.icon-stop:before { content: '\e804'; } /* '' */
.icon-tags:before { content: '\e805'; } /* '' */
.icon-flow-cascade:before { content: '\e806'; } /* '' */
.icon-clock:before { content: '\e807'; } /* '' */
.icon-back-in-time:before { content: '\e808'; } /* '' */
.icon-tasks:before { content: '\e809'; } /* '' */
.icon-info-circled:before { content: '\e80a'; } /* '' */
.icon-info:before { content: '\e80b'; } /* '' */
.icon-help-circled:before { content: '\e80c'; } /* '' */
.icon-tag:before { content: '\e80d'; } /* '' */
.icon-cog-alt:before { content: '\e80e'; } /* '' */
.icon-cog:before { content: '\e80f'; } /* '' */
.icon-hash:before { content: '\f029'; } /* '' */
