$red: #cd4444;
$light-grey: #aeaeae;
$pink: #ff8ea2;
$dark-asphalt: #42494f;
$dark-asphalt-wet: #5c656d;
// $blue-asphalt: #2e3744;



// Color coded rows
$code-red: #db4545;
$code-yellow: #edde3f;
$code-green: #39aa56;
$code-grey: #666666;

$color-coded-border-size: 7px;